textarea {
  width: 100%;
  height: 80%;
  padding: 5px;
  background-color: #1d1f21;
  border: none;
  color: #e0e0e0;
  font-family: Inconsolata, 'Courier New', monospace;
  margin: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
}
button {
  float: right;
  background-color: #1d1f21;
  color: #e0e0e0;
  border: none;
  padding: 2px 6px;
}
.error {
  color: red;
}
