body {
  background-color: lightgray;
}

h1 {
  color: #043c57;
  font-size: 150%;
}

h2 {
  color: #369;
  font-weight: lighter;
  font-size: 120%;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 6em;
  overflow-x: hidden;
  padding-top: 20x;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
