<h1>{{title}}</h1>
<h2>{{desc}}</h2>

<div class="split left">
  <app-code-input (compiled)="right.setState($event)"></app-code-input>
</div>

<div class="split right">
  <app-code-output #right></app-code-output>
</div>
